.popup__button {
    width: 358px;
    height: 50px;
    /* background-image: url(../../../images/submit-button.svg); */
    background-size: 358px 50px;
    background-color: #000000;
    border: 0;
    margin-top: 18px;
    margin-bottom: 37px;
    padding: 0;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }
  
  .popup__button:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  @media screen and (max-width: 890px){
    .popup__button {
      width: 238px;
      height: 46px;
      background-size: 238px 46px;
      font-size: 14px;
      line-height: 17px;
    }
  }
  