.element__trash {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/trash.svg);
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 18px;
  z-index: 1;
}

.element__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}
